/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CUSTOM PROPERTIES */

:root{
    --bg-color: rgb(0,0,0);
}


/* GENERICS */

body{
    font-family: Fredoka, 'Comic Sans', cursive
}

h1{
    color: rgb(229,49,112);
    margin-top: 40px;
    margin-bottom: 40px;
}


/* UTILITIES */

.container{
    width: 1080px;
    margin: 0 auto;
}



/* HEADER */

.header{
    text-align: center;
}


