/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CUSTOM PROPERTIES */

:root{
    --bg-color: rgb(0,0,0);
    --info-color: white;
    --email-color: rgb(82,183,223)
}



/* GENERICS */

body{
    font-family: Fredoka, 'Comic Sans', cursive
}


h1{
    color: rgb(229,49,112);
    font-size: 50px;  
}


img{
    height: 100px;
    float: left;
    margin-right: 15px;
}


h2{
    padding-top: 15px;
    font-size: 20px;
}


h3{
    font-size: 15px;
    font-weight: normal;
}


a{
    color: var(--email-color);
    text-decoration: none;
}


a:hover{
    text-decoration: underline;
    font-size: large;
}



/* UTILITIES */

.container{
    width: 1080px;
    margin: 0 auto;
}


.clearfix::after{
    content: '';
    clear: both;
    display: block;
}


.row{
    margin: 0 -10px;
}



/* TEAM MEMEBERS PRESENTATION */

.team-presentation h1, p{
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
}




/* MEMEBERS CARDS LAYOUT*/

.card{
    width: calc(100% / 3 - 20px);
    background-color: var(--bg-color);
    color: var(--info-color);
    line-height: 25px;
    float: left;
    margin: 10px;
}
